<section id="create" bindonce="some.model.object">
    <h4>'Sup? HEY! This is the template for Contact Creation</h4>


    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h1>
                    Psst! Hey kid, wanna create some Contacts?
                </h1>
            </div>
        </div>

        <form class="form-inline col-sm-6 creating-form">
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" 
                       class="form-control" 
                       id="Name" 
                       placeholder="Here goes the Name...">
            </div>
            <div class="form-group">
                <label for="LastName">Last Name</label>
                <input type="text" 
                       class="form-control" 
                       id="LastName" 
                       placeholder="And the Last Name here">
            </div>
            <button type="submit" class="btn btn-default">Create it!</button>
        </form>
    </div>


    <!-- 
    *
    * Here goes the Create
    * 
     -->


</section>