<section id="home" bindonce="some.model.object">
	<h4>'Sup? HEY! This is the template for the Home</h4>


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 text-center">
                <h1>
                    So, here's the Contact list:
                </h1>
            </div>
        </div>
        <div class="row col-sm-8">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>User's Id</td>
                    <td>User's name</td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>

    <!-- 
    *
    * Here goes the Contact List
    * 
     -->


</section>
