<section id="login" bindonce="some.model.object">
    <div class="container row">
        <div class="col-sm-6 push-sm-3 text-center">
            <h1>Ammmm... Who are you?</h1>
        </div>
    </div>
    <div class="container row">
        <form novalidate name="loginForm" class="form-inline col-sm-6 login-form" ng-submit=submit()>   
            <div class="form-group">
                <label for="Username">Username</label>
                <input type="text" 
                       class="form-control"
                       ng-model="username" 
                       id="username" 
                       placeholder="Your username, please">
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password"
                       class="form-control"
                       ng-model="password"
                       id="password" 
                       placeholder="••••••••••••">
            </div>
            <button id="login-btn" 
                    type="submit" 
                    class="btn btn-default pull-right">
                      Log in!
            </button>
        </form>
    </div>

</section>