body {
    padding-top: 70px;
}

div .content {
    margin: 30px 30px;
    border: 1px #000 solid;
}

#create .creating-form .form-group {
    margin-bottom: 15px;
}

#edit .editing-form .form-group {
    margin-bottom: 15px;
}

#login .login-form .form-group {
    margin-bottom: 15px;
}